@media screen and (max-width : 1200px) {
     #saya p {
          font-size: .9rem;
     }

     #saya h1 {
          font-size: 2.3rem;
     }
}

@media screen and (max-width : 768px) {}

@media screen and (max-width : 570px) {
     #saya.row {
          padding-bottom: 75px;
     }
}

@media screen and (max-width : 350px) {}