@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(
      circle at top,
      rgba(6,182,212,0.15),
      transparent 40%
    ),
    #020617;

  color: white;
  overflow-x: hidden;
}

body {
  background-color: #020617;

  background-image:
    linear-gradient(
      rgba(255,255,255,0.05) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.05) 1px,
      transparent 1px
    );

  background-size: 50px 50px;
}